@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot');
	src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

* {
  font-family: 'IRANSans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #500000 !important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

.resume {
  &__wrapper {
  background-color: #500000;
  height: 100vh;
  padding: 25px;
  }
  &__titleWrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    // padding: 20px;
    & *{
      color: #fff !important;
    }
  }
  &__steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 25px;
    z-index: 999;
  }
}
.steps-content {
  // margin-top: 16px;
  margin: 10px 25px;
  // border: 1px dashed #e9e9e9;
  // border-radius: 2px; 
  // background-color: #fafafa;
  min-height: 75vh;
  max-height: 90vh;
  min-width: 85vw;
  text-align: center;
  height: 100%;
}
.basic{
  &__card {
    box-shadow: 1px 2px 6px rgb(158, 158, 158);
    .ant-card-head-title {
      font-weight: 700;
      font-size: 22px;
    }
  }
}
.mt-5{
  margin-top: 25px;
}
.text-center{
  text-align: center;
}
 .ant-steps-item-title {
  color: #fff !important;
}
.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon{
  background: #F45B69 !important;
  border-color:#F45B69;
}
.ant-btn-primary{
  background:#F45B69 !important;
  border-color: #F45B69 !important;
}
.ant-steps-item-finish .ant-steps-item-icon{
  border-color:#F45B69 !important;
}
.ant-steps-item-icon .anticon svg{
  color: #F45B69 !important;
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
  background-color: #F45B69 !important;
}
@media only screen and (max-width: 768px) {
  .resume {
    &__wrapper {
      height: 100%;
      h1.ant-typography{
        font-size: 17px;
      }
      }
    &__steps {
      display: block;
      justify-content: space-between;
    }
    &__btnWrapper {
      position: static;
    }
  }
  .steps-content {
    margin: 10px 0;
    min-width: auto;
    width: 100%;
    max-height: 100%;
}
}